@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-style: normal;
  src: url("/font/inter/Inter-Regular.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
}
